@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>ScrapsKC Pricing Database</title>
    <meta charset="utf-8">


    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TBD(L)">
</head>



<body>
    <div id="loginButton">
        <a href="login.html">Login/Logout</a>
    </div>
    <header>
        <img src="~/Images/ScrapsKC_logo-01small.png" />
    </header>

    <div id="wrapper">

        <h1>Pricing Database</h1>

        <div id="content">

            <button class="arts large" id="arts" type="button" onclick="location.href='@Url.Action("Index", "ArtsAndCrafts" )'">Arts/Crafts</button>   <!--Links Css and HTML into the framework.  Url.Action("View", "Controller" for linking-->
            <!--Had to change button element into a class so it doesn't effect other buttons'-->

            <button class="school large" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Miscellaneous" )'">Miscellaneous</button>


            <button class="button" id="school" type="button" onclick="location.href='@Url.Action("Index", "SchoolAndOffices" )'">School/Office</button>


            <button class="button" id="textile" type="button" onclick="location.href='@Url.Action("Index", "Textiles" )'">Textiles</button>

        </div>
    </div>

    <footer>&copy; 2021</footer>
</body>
</html>
