<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../Images/Scraps-KC-favicon.png" />
    <title>@ViewBag.Title - Pricing Database</title>

</head>
<body>
    <div id="loginButton">
        <button class="" id="login">Login</button>
        <button class="disable" id="logout">Logout</button>
    </div>
    <header>
        <a href='../Home'> <img src="~/Images/ScrapsKC_logo-01small.png" /> </a>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
    <footer>&copy; 2021</footer>
</body>
</html>
