<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../Images/Scraps-KC-favicon.png" />
    <title>@ViewBag.Title - Pricing Database</title>

</head>
<body  onload="toggleLogInOut()">
    <!-- Login Button -->
    <div id="loginButton">
        <button id="login">Login</button>
    </div>

    <!-- Pop-up Box -->
    <div id="popup">
        <div id="popupbox1" name="login">
            <span id="close1">&times;</span>
            <center>Password:</center>
            <center><input id="password" name="password" type="password" /></center>
            <center>
                <input id="submit" type="submit" name="submit" value="Login" />
                <input id="change" type="submit" value="Change Password" />
            </center>
            <center><p2 id="p2"></p2></center>
        </div>
    </div>
    <header>
        <a href='../Home'> <img src="~/Images/ScrapsKC_logo-01small.png" class="responsive"/> </a>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
    <br />
    <footer>&copy; 2021</footer>

    <script src="~/Scripts/priceAppFunctionality.js"></script>
</body>
</html>
