html {
    padding: 2em 2em 2em 2em;
    background-color: white;
}

header {
    background-color: white;
}

body {
    text-align: center;
    margin-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1.5em;
    background-color: white;
    margin: auto;
}

/* Formats buttons on page
.formbox {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
}

.centerblock {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.create {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 1em;
    height: 50px;
    width: 50px;
    font-size: 5px;
}*/

h1 {
    text-align: center;
    border-radius: 0.5em;
    background-color: #00b1c4;
    color: white;
    padding-top: 1em;
    /*padding-bottom: 1em;*/
}

h3 {
    padding-top: 0;
    margin-top: 0;
}

table,
td,
th {
    border-collapse: collapse;
    padding: 0.5em;
    margin: 1em;
    border: 1px #000 solid;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

th {
    width: 15%;
}

table {
    table-layout: fixed;
}

#content input {
    margin: 0 0.5em 0.5em 0.5em;
}

footer {
    text-align: center;
    padding-top: 1em;
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
}

/* Formats back button */
#wrapper {
    box-shadow: 0 0 1em #333; /* black shadow */
    border-radius: 0.5em;
    background-color: #00b1c4;
    padding-bottom: 4em;
}

#content {
    padding: 8em 0 4em 0;
    margin: 0 4em 0 4em;
    background-color: white;
    align-items: center;
}

#login {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
}

#logout {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
}

#loginButton {
  float: right;
}

#popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6);
}

#popupbox{
  margin: 0;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 15%;
  padding-top: 18px;
  width: 20%;
  height: 90px;
  position: relative;
  background: #FBFBF0;
  border: solid #000000 2px;
  border-radius: 8px;
  z-index: 1;
  font-family: arial;
  font-size: 20px;
  visibility: hidden;
}

#placeholder {
  color: red;
}

/* The Close Button */
#close {
  position: absolute;
  color: #aaaaaa;
  top: 0;
  right: 5px;
  font-size: 38px;
  font-weight: bolder;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#or {
    color: white;
    font-weight: bold;
}

#back {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 40px;
    text-decoration: underline;
}

.disable {
    visibility: hidden;
    display: none;
    width: 0;
}

/* unique background-color of each button */

.arts {
    background-color: #FF6666; /*red*/
}

.school {
    background-color: #98f991; /*green*/
}

.textile {
    background-color: lightblue; /*blue*/
}

.holiday {
    background-color: #f9cb9e; /*orange*/
}

.plastics {
    background-color: #f6f99e; /*yellow*/
}

.misc {
    background-color: #f99eb9; /*pink*/
}

.artsLight {
    background-color: #FF6666; /*red*/
}

.schoolLight {
    background-color: #c8ffc1; /*green*/
}

.textileLight {
    background-color: lightblue; /*blue*/
}

.holidayLight {
    background-color: #fffbce; /*orange*/
}

.plasticsLight {
    background-color: #f6f99e; /*yellow*/
}

.miscLight {
    background-color: #ffcee9; /*pink*/
}

.archived {
    background-color: #eee; /*gray*/
}

#create button {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 1em;
    height: 50px;
    width: 50px;
    font-size: 5px;
    background-color: #98f991;
}

/* Formats how mouse interacts with the linked buttons */

#wrapper a:link {
    text-decoration: none;
    background-color: green;
    margin: 0 3em 0 3em;
    color: black;
}

/* Formats buttons on page */
.menue {
    margin-top: 1em;
}

.large {
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 1em;
    height: 200px;
    width: 200px;
    font-size: 30px;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

@media screen and ( max-width: 1024px ) {
    img.responsive {
        width: 200px;
    }
}

@media screen and ( min-width:1025px ) and ( max-width: 1280px ) {
    img.responsive {
        width: 400px;
    }
}

@media screen and ( min-width: 1081px ) {
    img.responsive {
        width: 500px;
    }
}

img.responsive {
    height: auto;
}